@{
    Layout = "_LayoutAccount";
}
<p>There was a problem validating the code from the link. Please make sure you enter the link in the browser correctly</p>
<a href="@Url.Action("Login","Account")">Login</a>