<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/kftblr/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="kftblr" />
      <add key="ClearTextPassword" value="5bcf8be2c50a767177c7b014e88a86b287c9fc95" />
    </github>
  </packageSourceCredentials>
</configuration>